# Python venv folders
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
*.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Node.js (if running React/Node backend)
node_modules/

# Build outputs
dist/
build/

# Logs
*.log

# Ignore uploads
uploads/

# Ignore any audio test files
*.mp3
*.wav
